# SCENARIO 

In SY 20-21, TEA required all Texas LEAs (Local Education Agencies such as a school district) to administer either the TX-KEA or mCLASS assessment to students in order to measure grade level readiness. The Tx-KEA and mCLASS diagnostics employ different scales for scoring and evaluate different sets of skills. Initial analysis of Fall 2020 data indicates a 38 percentage point gap in grade level readiness between the two tests; 76% of students who took Tx-KEA were found to be grade level ready compared to just 38% of students who took mCLASS. 

The task is to extract, analyze, and present data that will help the Educators understand to what extent the difference in readiness as measured by the tests is due to differences in the underlying populations of students taking each (as opposed to differences in test design and scoring). 

Analysis will be limited to students taking the English version of each diagnostic to avoid complications that arise from differences in the English and Spanish versions of mCLASS.


Database Tables:

1)MCLASS – student level performance on mCLASS diagnostic assessment.
•Field ‘assessment_edition’ indicates whether the student took the English version of thetest (DIBELS) or the Spanish version (IDEL).
•For field ‘composite_level’ values of ‘At Benchmark’ or ‘Above Benchmark’ indicates grade level readiness.

2)TXKEA – student level performance on Tx-KEA diagnostic assessment.
•Field ‘language’ indicates whether the student took the English or Spanish version
•For field ‘lit_screening_benchmark’ value of ‘On-Track’ indicates grade level readiness.

3)DEMO – student level demographic data.
•Field ‘eco’ indicates whether the student is identified as ‘economically disadvantaged’
•Field ‘spec_ed’ indicates whether the student receives special education services
•Field ‘el’ indicates whether the student is identified as an English learner

In [98]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

The first thing I want to do is take a look at the shape of the data files so I can better decide how I should choose which join to perform.

In [99]:
demo = pd.read_csv('Data/DEMO.csv')
demo.head()

/var/folders/d2/b8_107b155z0478lwpx5ssrr0000gp/T/ipykernel_63612/2043099007.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  demo = pd.read_csv('Data/DEMO.csv')

  student_id  district_id                  ethnicity  eco  el spec_ed
0   97840593       798403  Black or African American  YES  NO      NO
1  885938600        53405                      White  YES  NO      NO
2  871944576       798403  Black or African American  YES  NO      NO
3  818725252        53405                      White   NO  NO      NO
4  702015143       800409                      White  YES  NO     YES

In [100]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174348 entries, 0 to 174347
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   student_id   174348 non-null  object
 1   district_id  174348 non-null  int64
 2   ethnicity    174348 non-null  object
 3   eco          174348 non-null  object
 4   el           174348 non-null  object
 5   spec_ed      174348 non-null  object
dtypes: int64(1), object(5)
memory usage: 8.0+ MB

In [101]:
mclass = pd.read_csv('Data/MCLASS.csv')
mclass.head()

,student_id,district_id,school_id,assessment_edition,composite_level,composite_score
0,8878547139,806405.0,806405802,DIBELS 8th Edition,At Benchmark,306.0
1,8878132753,818408.0,818408807,DIBELS 8th Edition,Below Benchmark,291.0
2,8877357966,NaN,NaN,DIBELS 8th Edition,At Benchmark,314.0
3,8877359986,820405.0,820405805,DIBELS 8th Edition,At Benchmark,326.0
4,8877961413,820407.0,820407871,DIBELS 8th Edition,At Benchmark,308.0

In [102]:
mclass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63268 entries, 0 to 63267
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          63268 non-null  int64
 1   district_id         57028 non-null  float64
 2   school_id           56676 non-null  object
 3   assessment_edition  63268 non-null  object
 4   composite_level     63268 non-null  object
 5   composite_score     56124 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.9+ MB

In [103]:
txkea = pd.read_csv('Data/TXKEA.csv')
txkea.head()

,district_id,student_id,language,lit_screening_benchmark,lit_screening_score,date
0,70408,8878861576,English,Monitor,15,9/15/2020
1,808486,8878825752,English,On-Track,29,11/30/2020
2,801404,8878799239,English,Support,14,10/12/2020
3,808488,8878794629,English,On-Track,35,11/6/2020
4,808486,8878745384,English,On-Track,23,10/16/2020

In [104]:
txkea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112048 entries, 0 to 112047
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   district_id              112048 non-null  int64
 1   student_id               112048 non-null  int64
 2   language                 112048 non-null  object
 3   lit_screening_benchmark  112048 non-null  object
 4   lit_screening_score      112048 non-null  int64
 5   date                     112048 non-null  object
dtypes: int64(3), object(3)
memory usage: 5.1+ MB

After a cursory look at the data, the DEMO dataframe has the most rows and no null values so I will join the other two onto it merging the student_id columns.

In [105]:
txkea =txkea.merge(demo, on='student_id', how='left')

In [106]:
txkea.head()

,district_id_x,student_id,language,lit_screening_benchmark,lit_screening_score,date,district_id_y,ethnicity,eco,el,spec_ed
0,70408,8878861576,English,Monitor,15,9/15/2020,70408.0,Hispanic/Latino,NO,NO,NO
1,808486,8878825752,English,On-Track,29,11/30/2020,808486.0,White,NO,NO,NO
2,801404,8878799239,English,Support,14,10/12/2020,801404.0,Hispanic/Latino,NO,NO,NO
3,808488,8878794629,English,On-Track,35,11/6/2020,808488.0,Hispanic/Latino,YES,NO,NO
4,808486,8878745384,English,On-Track,23,10/16/2020,808486.0,Hispanic/Latino,YES,NO,NO

In [107]:
mclass = mclass.merge(demo, on='student_id', how='left')

In [108]:
mclass.head()

,student_id,district_id_x,school_id,assessment_edition,composite_level,composite_score,district_id_y,ethnicity,eco,el,spec_ed
0,8878547139,806405.0,806405802,DIBELS 8th Edition,At Benchmark,306.0,806405.0,White,NO,NO,NO
1,8878132753,818408.0,818408807,DIBELS 8th Edition,Below Benchmark,291.0,818408.0,White,YES,NO,NO
2,8877357966,NaN,NaN,DIBELS 8th Edition,At Benchmark,314.0,95408.0,White,NO,NO,NO
3,8877359986,820405.0,820405805,DIBELS 8th Edition,At Benchmark,326.0,820405.0,White,NO,NO,NO
4,8877961413,820407.0,820407871,DIBELS 8th Edition,At Benchmark,308.0,820407.0,White,YES,NO,NO

# Number Of Missing Values By Column

There are many NaN values. Let's count the number of missing values in each column and sort them.

In [109]:

missing = pd.concat([df.isnull().sum(), 100 * txkea.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                           count          %
student_id                   0.0   0.000000
district_id                  0.0        NaN
ethnicity                    0.0  24.839167
eco                          0.0  24.839167
el                           0.0  24.839167
spec_ed                      0.0  24.839167
lit_screening_benchmark  41852.0   0.000000
composite_level          70701.0        NaN
district_id_x                NaN   0.000000
language                     NaN   0.000000
lit_screening_score          NaN   0.000000
date                         NaN   0.000000
district_id_y                NaN  24.839167

In [110]:

missing = pd.concat([df.isnull().sum(), 100 * mclass.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                           count          %
student_id                   0.0   0.000000
district_id                  0.0        NaN
ethnicity                    0.0  24.789458
eco                          0.0  24.789458
el                           0.0  24.789458
spec_ed                      0.0  24.789458
lit_screening_benchmark  41852.0        NaN
composite_level          70701.0   0.000000
district_id_x                NaN   9.861113
school_id                    NaN  10.417292
assessment_edition           NaN   0.000000
composite_score              NaN  11.289482
district_id_y                NaN  24.789458

As i suspected there are a lot of NaN values in lit_screening_benchmark and composite_level columns. We are trying to make sense of the data based on these scores so if there is no score in either it can be removed from the dataframe.

In [55]:
txkea = txkea.dropna(subset=['lit_screening_benchmark'])

In [54]:
mclass = mclass.dropna(subset=['composite_level'], how='all')

In [57]:
txkea.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84235 entries, 1 to 131195
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   student_id               84235 non-null  object
 1   district_id              84235 non-null  int64
 2   ethnicity                84235 non-null  object
 3   eco                      84235 non-null  object
 4   el                       84235 non-null  object
 5   spec_ed                  84235 non-null  object
 6   language                 84235 non-null  object
 7   lit_screening_benchmark  84235 non-null  object
dtypes: int64(1), object(7)
memory usage: 5.8+ MB

In [66]:
mclass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63268 entries, 0 to 63267
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          63268 non-null  int64
 1   district_id         57028 non-null  float64
 2   school_id           56676 non-null  object
 3   assessment_edition  63268 non-null  object
 4   composite_level     63268 non-null  object
 5   composite_score     56124 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.9+ MB

In [67]:
missing = pd.concat([df.isnull().sum(), 100 * mclass.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                           count          %
student_id                   0.0   0.000000
district_id                  0.0   9.862806
ethnicity                    0.0        NaN
eco                          0.0        NaN
el                           0.0        NaN
spec_ed                      0.0        NaN
lit_screening_benchmark  41852.0        NaN
composite_level          70701.0   0.000000
school_id                    NaN  10.419169
assessment_edition           NaN   0.000000
composite_score              NaN  11.291648

# Component 1 - Drop Spanish language versions of the test

We must limit the analysis to students taking the English version of each diagnostic to avoid complications that arise from differences in the English and Spanish versions of mCLASS.

In [14]:
#checking values
df.assessment_edition.value_counts()

DIBELS 8th Edition        42182
IDEL Standard 3 Period     5418
Name: assessment_edition, dtype: int64

In [15]:
df.language.value_counts()

English    71032
Spanish    13205
Name: language, dtype: int64

In [16]:
#droping Spanish versions
df.drop(df.loc[df['assessment_edition']=='IDEL Standard 3 Period'].index,inplace=True)

In [17]:
df.assessment_edition.value_counts()

DIBELS 8th Edition    42182
Name: assessment_edition, dtype: int64

In [18]:
df.drop(df.loc[df['language']=='Spanish'].index,inplace=True)

In [19]:
df.language.value_counts()

English    71026
Name: language, dtype: int64

In [20]:
df.drop(['language', 'assessment_edition'],axis=1,inplace=True)

In [21]:
df.head()

,student_id,district_id,ethnicity,eco,el,spec_ed,lit_screening_benchmark,composite_level
1,885938600,53405,White,YES,NO,NO,On-Track,NaN
2,871944576,798403,Black or African American,YES,NO,NO,On-Track,NaN
3,818725252,53405,White,NO,NO,NO,On-Track,NaN
4,702015143,800409,White,YES,NO,YES,On-Track,NaN
5,717968813,48403,Two or more races,YES,NO,NO,On-Track,NaN

# Ensure that no rows have values for both MCLASS and TXKEA assessments

In [22]:
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                         count          %
student_id                   0   0.000000
district_id                  0   0.000000
ethnicity                    0   0.000000
eco                          0   0.000000
el                           0   0.000000
spec_ed                      0   0.000000
lit_screening_benchmark  41852  37.077198
composite_level          70701  62.634880

In [23]:
df.shape

(112878, 8)

41852 + 70701 does not equal 112878 so it looks like we have students who have taken both assessments. Let's make sure by subsetting the data frame.

In [24]:
both = df[df[['lit_screening_benchmark', 'composite_level']].notnull().all(1)]
both.head()

,student_id,district_id,ethnicity,eco,el,spec_ed,lit_screening_benchmark,composite_level
75,8877182676,883408,Black or African American,YES,NO,NO,Support,Below Benchmark
663,8895345178,874406,White,YES,NO,NO,On-Track,Below Benchmark
856,8869266971,883408,Hispanic/Latino,YES,NO,NO,On-Track,At Benchmark
898,8865759575,874406,White,YES,NO,NO,On-Track,Above Benchmark
1025,8858113755,874406,White,YES,NO,NO,On-Track,At Benchmark

In [25]:
both_mclass_totals = both.composite_level.value_counts()
both_txkea_totals  = both.lit_screening_benchmark.value_counts()
print(both_mclass_totals)
print("")
print(both_txkea_totals)

Well Below Benchmark    126
Above Benchmark          76
At Benchmark             69
Below Benchmark          54
Name: composite_level, dtype: int64

On-Track    233
Support      56
Monitor      36
Name: lit_screening_benchmark, dtype: int64

So 325 students have taken both versions of the test. We can also see conflicting results. This is a small sample but could be useful later when comparing the two assessments.

# Assessment Scoring

Let's take a quick look at each assessments outcome.

In [28]:
df.lit_screening_benchmark.value_counts()

On-Track    53543
Support     10808
Monitor      6675
Name: lit_screening_benchmark, dtype: int64

In [33]:
df.composite_level.value_counts()

Well Below Benchmark    18910
Above Benchmark          8620
Below Benchmark          8098
At Benchmark             6549
Name: composite_level, dtype: int64

There is a very big difference in the outcomes of either test as is indicated in the instructions.

In [38]:
df.to_csv('assessment_clean.csv')